.tag {
  display: inline-block;
  max-width: 236px;
  padding: 0 12px;
  overflow: hidden;
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: rgba(51, 51, 51, 0.1);
  border-radius: 16px;
}

.tag:not(:first-child) {
  margin-left: 12px;
}

@media (max-width: 1200px) {
  .tag {
    margin-top: 14px;
  }

  .tag:not(:first-child) {
    margin-left: 0;
  }
}
