
.filter {
  display: flex;
  align-items: center;
  padding: 32px 0;
  overflow: auto;
  overflow-x: overlay;
  scrollbar-width: none;

  .title {
    position: relative;
    top: -3px;
    margin-right: 16px;
    font-size: 36px;
  }

  .colors {
    display: flex;

    .color {
      width: 32px;
      height: 32px;
      border-radius: 8px;
      cursor: pointer;
      opacity: 0.6;
      box-sizing: border-box;
      border: 3px solid transparent;

      &:hover {
        opacity: 1;
      }

      .select{
        opacity: 1;
        border: 3px solid #aaa;
      }

      &:not(:first-child) {
        margin-left: 16px;
      }
    }
  }
}


::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

@media screen and (max-width: 1200px) {
  .filter {
    margin: 0 -20px;

    .title {
      display: none;
    }

    .colors {
      padding: 0 20px;

      .color {
        width: 48px;
        height: 48px;
      }
    }

    padding: 16px 0;
  }
}
