@import "../../mixins";

.warning {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-weight: 600;
  background: #db5341;
  @include smoothResize(font-size, 16, 18);
}

.warning img {
  margin-right: 12px;
}
