.wrapper {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(160px, auto);
  grid-gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 24px 32px 24px;
}
