.attachments {
  display: flex;
  flex-flow: column;
  padding: 0 20px;
  font-weight: 600;
  background: #e6e6e6;
}

.attachment,
.linkAttachment {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 58px;
  margin-right: -5px;
  margin-left: -5px;
  padding: 0 10px;
}

.images {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.attachments .linkAttachment:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.imageAttachment {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.imageAttachment .attachment img {
  width: 64px;
  height: 64px;
  margin-left: 20px;
}

.linkIcon {
  margin-right: 12px;
}
