.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding: 0 16px;
  color: rgba(51, 51, 51, 0.6);
  font-size: 16px;
  background: #fff;

  .logo {
    position: absolute;
    top: calc(50% - 9px);
    right: 16px;
    line-height: 18px;
  }
}

@media (max-width: 1200px) {
  .footer {
    justify-content: start;
  }
}
