.note {
  display: flex;
  flex-flow: column;
  grid-column: span 1;
  overflow: hidden;
  color: #000;
  border: 1px solid rgba(218, 220, 224, 0.5);
  border-radius: 19px;
}

.note:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.edit {
  visibility: hidden;
}

.note:hover .edit {
  visibility: visible;
}

.size-s {
  grid-column: span 1;
}

.size-m {
  grid-column: span 2;
}

.size-l {
  grid-column: span 3;
}

.title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.text {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 22px;
}

.footer {
  flex: 0 0 auto;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.wrapper {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  border-radius: 16px;
}

.content {
  flex: 1 0 auto;
}

.contentWrapper,
.contentWrapperRed {
  height: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.contentWrapperRed {
  background: #db5341;
}

.fullImage {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .size-l {
    grid-column: span 4;
    grid-row: span 1 / auto;
  }

  .size-s {
    grid-column: span 2;
  }
}

@media screen and (max-width: 600px) {
  .size-s,
  .size-m {
    grid-column: span 4;
  }
}
