@import "../../mixins";

.list,
.checkedList {
  padding: 0;
  list-style: none;
}

.listWrapper {
  margin-top: -20px;
  margin-right: -20px;
  margin-left: -20px;
  padding: 24px;
  border-radius: 16px;

  .listHeader {
    font-weight: 600;

    @include smoothResize(font-size, 22, 24);
  }
}

.checkedList {
  margin: 26px auto  7px -10px;
  background: #fff;
}

.checkedList li {
  display: inline-block;
  margin-left: 12px;
  padding: 7px 0;
}

p {
  margin: 0 auto;
}
